* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background: rgb(241, 240, 240);
}

.box {
  text-decoration: none;
  background: rgb(241, 240, 240);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 150%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.caja_consumo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-radius: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(116, 0, 184);
  background: linear-gradient(
    90deg,
    rgba(116, 0, 184, 1) 10%,
    rgba(83, 144, 217, 1) 51%,
    rgba(86, 207, 225, 1) 91%
  );
  -webkit-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.79);
}

#consumo {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  font-size: 200%;
  font-family: "Roboto";
  font-weight: 700;
}

.caja_objetivo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-radius: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

#consumo_2 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  font-size: 200%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.caja_iconos {
  font-size: 200%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  background-color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: auto;
  right: auto;
  -webkit-box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.4);
}

i {
  color: rgb(137, 137, 137);
}

#gota {
  background: -webkit-linear-gradient(#7400b8, #56cfe1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
