* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background: rgb(241, 240, 240);
}

.box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 5vh;
  column-gap: 5%;
  grid-template-areas: "caja_bienvenida caja_bienvenida"
                       "caja_consumo    caja_objetivo"
                       "progreso        progreso";
  text-decoration: none;
  background: rgb(241, 240, 240);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 150%;
  max-width: 90%;
  margin: 5%;
  margin-bottom: 10%;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.caja_bienvenida{
    grid-area: caja_bienvenida;
}

.caja_consumo {
  grid-area: caja_consumo;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-radius: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgb(116, 0, 184);
  background: linear-gradient(
    90deg,
    rgba(116, 0, 184, 1) 10%,
    rgba(83, 144, 217, 1) 51%,
    rgba(86, 207, 225, 1) 91%
  );
  -webkit-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.79);
}

#consumo {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  font-size: 200%;
  font-family: "Roboto";
  font-weight: 700;
}

.caja_objetivo {
  grid-area: caja_objetivo;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#consumo_2 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  text-align: center;
  font-size: 200%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.progreso{
    grid-area: progreso;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.caja_iconos {
  font-size: 200%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  background-color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: auto;
  right: auto;
  -webkit-box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.4);
}

i {
  color: rgb(137, 137, 137);
}

#gota {
  background: -webkit-linear-gradient(#7400b8, #56cfe1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .box{
      column-gap: 0;
      row-gap: 1vh;
      margin-bottom: 6rem;
      grid-template-areas: "caja_bienvenida"
                           "caja_consumo"
                           "progreso"
                           "caja_objetivo";
  }
  .progreso{
    margin-bottom: 0vh;
  }
}