body {
    margin: 0%;
    padding: 0%;
    background: rgb(241, 240, 240);
    align-items: center;
}

.box{
    text-decoration: none;
    background: rgb(241, 240, 240);
    font-size: 150%;
    font-family: 'Roboto Black', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#titulo{
    margin-top: 1em;
    margin-bottom: 1em;
}

.configuracion1{
    font-family: 'Roboto Light', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    background: rgba(255,255,255);
    border-radius: 3rem;
}

#manual{
	display: none;
	visibility: hidden;
}

#caja{
    width: 100%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: white;
    border-radius:3rem;
    text-align: center;
}

.numeros{
	display: grid;
	grid-template-columns: 33% 33% 33%;
    font-size: 150%;
	text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#config1{
    background: rgb(116,0,184);
    color: white;
    border-radius: 3rem;
}

#config2{
    background: white;
    color: black;
    border-radius: 3rem;
}

.configuracion2{
    font-family: 'Roboto Light', sans-serif;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    background: rgba(255,255,255);
    border-radius: 3rem;
}

#configA{
    background: rgb(116,0,184);
    color: white;
    border-radius: 3rem;
}

#configB{
    background: white;
    color: black;
    border-radius: 3rem;
}

#configC{
    background: white;
    color: black;
    border-radius: 3rem;
}

.caja_iconos{
    font-size: 200%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    background-color:white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: auto;
    right: auto;
    -webkit-box-shadow: 0px -4px 21px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px -4px 21px 0px rgba(0,0,0,0.4);;
}

i{
    color:rgb(137, 137, 137);
}

#medidor{
    background: -webkit-linear-gradient(#7400b8,#56cfe1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}