* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0%;
  padding: 0%;
  background: rgb(241, 240, 240);
  align-items: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 1vh;
  column-gap: 5%;
  grid-template-areas: "tituloP       tituloL"
                       "caja-consumo  logros"
                       "cerrar-sesion cerrar-sesion";
  text-decoration: none;
  background: rgb(241, 240, 240);
  font-size: 150%;
  max-width: 90%;
  margin: 5%;
}

.tituloP{
  grid-area: tituloP;
}

.tituloL{
  grid-area: tituloL;
}

span {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#lu, #ma, #mi, #ju, #vi, #sa, #do{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.progreso {
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 5rem;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 1rem;
  width: 100%;
}

.progreso-valor {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 5rem;
  background: #fff;
  height: 0.7rem;
  width: 0;
}

.caja-consumo {
  grid-area: caja-consumo;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-radius: 3rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(116, 0, 184);
  background: linear-gradient(
    90deg,
    rgba(116, 0, 184, 1) 10%,
    rgba(83, 144, 217, 1) 51%,
    rgba(86, 207, 225, 1) 91%
  );
  -webkit-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.79);
  box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.79);
}

.logros{
    grid-area: logros;
}

.insignias{
  font-size: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cerrar-sesion {
  grid-area: cerrar-sesion;
  margin-bottom: 6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: black;
}

.caja-iconos {
  font-size: 200%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  background-color: white;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: auto;
  right: auto;
  -webkit-box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px -4px 21px 0px rgba(0, 0, 0, 0.4);
}

i {
  color: rgb(137, 137, 137);
}

#perfil {
  background: -webkit-linear-gradient(#7400b8, #56cfe1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover,
a:visited,
a:link,
a:active {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .box{
      grid-template-columns: 100%;
      row-gap: 0;
      column-gap: 0;
      grid-template-areas: "tituloP"
                           "caja-consumo"
                           "tituloL"
                           "logros"
                           "cerrar-sesion";
  }
}
